
body{

    background-color: rgba(202, 97, 118, 0.74);
    padding: 10px;
    border:10px;
    margin:10px;
/*CORPO DO SITE*/
    }

h1{
    font-family: Georgia, 'Times New Roman', Times;
    text-align: center;
    background-color: bisque;
    margin:40px;
    padding: 20px;
    border: solid blue;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.342);
    border-radius: 13px;
/*TITULO DO SITE*/
  }

main{

     font-family: Georgia, 'Times New Roman', Times;
     text-align: center;
     background-color: bisque;
     margin:40px;
     padding: 20px;
     border: solid blue;
     box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.342);
     border-radius: 13px;
/*CONTEUDO DO SITE*/
   }

main#dois
{
    display:flex;
    
}

nav{ 
     background-color: rgb(16, 214, 198);
     padding:1px;
     border: solid rgb(216, 216, 216) 1px;
     text-align: center;
     width: auto;
     box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.342);

}

nav  > a{    
           
            text-decoration: wavy;
            color: rgb(223, 223, 223);
            font-weight: bolder;
            margin-right: 23px;
            padding: 1px;
            text-align: justify;
        
}
        
nav> a:hover{
            text-decoration: underline;
            background-color: rgb(235, 134, 11);
            }

footer{
       text-align: right;
       background-color:bisque;
       box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.342);
      }
        
div#bola{
       width:100px;
       height: 100px;
       margin: 10px;
       background-color: rgb(175, 175, 175);
       border-radius: 50%;
      }
             
div#retangulo{
              width:160px;
              height: 100px;
              margin: 10px;
              background-color: rgb(206, 6, 6);
              border-radius: 5%;
              }
              
 div#quadrado{
              width:100px;
              height: 100px;
              margin: 10px;
              background-color: rgb(0, 240, 128);
              border-radius: 10%;
              }
         
          


         

         

    